:root {
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --nav-bg-color: #ffcd00;
    --nav-color: #360062;
    --header-glow: #ffcd00;
    --background-1: #732bab;
    --background-2: #370062;
}

@font-face {
    font-family: "Knockout Featherweight";
    src: url("/fonts/Knockout-HTF48-Featherweight.ttf");
}

@font-face {
    font-family: "Anton Regular";
    src: url("/fonts/Anton-Regular.ttf");
}

.about-page:before, .students-page:before {
    display: none;
}