:root {
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --nav-bg-color: #b70000;
    --nav-color: #fff;
    --header-glow: #ff1414;
    --background-1: #044999;
    --background-2: #002f62;
}

@font-face {
    font-family: "Knockout Featherweight";
    src: url("/fonts/Knockout-HTF48-Featherweight.ttf");
}

@font-face {
    font-family: "Anton Regular";
    src: url("/fonts/Anton-Regular.ttf");
}

/* Nav */

.about-page:before {
    display: none;
}

/* Section 1 */

.index-section-1, .index-section-2-header, .index-section-3-header {
    font-family: "Anton Regular";
    color: #fff;
}

.index-section-1 {
    display: flex;
    background: var(--background-2);
    flex-direction: column;
}

.index-section-1-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vw;
    margin: 2vw 0;
}

.heart-left-container {
    display: flex;
    align-self: start;
    position: relative;
    right: 3vw;
    gap: 5vw;
    align-items: center;
}

.heart-right-container {
    display: flex;
    align-self: start;
    position: relative;
    left: 3vw;
    gap: 5vw;
    align-items: center;
}

.heart-left, .heart-right {
    height: 10vw;
}

.heart-big {
    width: 12vw;
}

.heart-small {
    height: 5vw;
    width: 6.5vw;
}

.reverse {
    transform: scaleX(-1);
}

.index-welcome-bigger-h2 {
    font-size: 7vw;
    text-shadow: 0 0 30px var(--header-glow),  0 0 20px rgb(208, 211, 255);
}

.index-welcome-smaller-h2 {
    font-size: 2.25vw;
    white-space: pre-line;
    width: 6vw;
    font-style: italic;
    text-shadow: 0 0 15px var(--header-glow), 0 0 20px rgb(97, 105, 217);   
}

.index-section-1-image-track img{
    max-width: 32%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.index-section-1-image-track {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2vw 3vw 2vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 1vw;
}

/* Section 2 */

.index-section-2 {
    display: flex;
    flex-direction: row;
    padding: 2vw 0;
    background: var(--background-1);
}

.index-section-2-announcements {
    height: 44vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.announcements{
    width: 100%;
    height: 90%;
    padding: 1vw 4vw 0 4vw;
    position: relative;
}

.announcements img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.annc-text {
    font-family: "Knockout Featherweight";
    letter-spacing: .05em;
    position: absolute;
    height: 31vw;
    width: 24vw;
    top: 6vw;
    left: 13vw;
    font-size: 2vw;
    padding: 0 .5vw 0 0;
    overflow-y: scroll;
}


#annc-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.index-section-2-cleaners:before {
    align-self: center;
    content: "";
    position: absolute;
    left: 50%;
    height: 44vw;
    border-right: 5px solid #fff;
    z-index: 0;
}

.index-section-2-cleaners {
    height: 44vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
}

.index-section-2-header {
    text-align: center;
    font-size: 1.5vw;
    font-style: italic;
    text-shadow: 0 0 15px var(--header-glow), 0 0 10px rgb(0, 0, 0);
    color: #fab1b1;
    letter-spacing: 0.1em;
}

/* Table */

.tg  {
    font-family: "Knockout Featherweight";
    font-size: 1.5vw;
    margin: 2vw;
    background: white;
    flex: 2;
    border-spacing:0;  
    border: 4px solid black;
}

.tg td {
    /* border: 3px solid black; */
    padding: .75vw .25vw;
    word-break:normal;
}

.tg th {
    /* border: 3px solid black; */
    font-weight:normal;
    padding: .75vw .25vw;
    text-align: left;
}

.tg .table-day {
    font-size: 2vw;
    text-align:center;
    color: var(--nav-bg-color);
    border-right: 3px solid #ff9f9f;
    border-top: 4px solid #3998ff;
}

.tg .table-items {
    border-left: 3px solid #ff9f9f;
    border-top: 4px solid #3998ff;
}

.tg th:nth-child(1), .tg th:nth-child(2) {
    border-top: none;
}

.tg .table-of {
    vertical-align: top;
}

/* Section 3 */

.index-section-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--background-2);
}

/* First sem */

.index-1st-sem-sched {
    height: 24vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.index-section-3-header {
    text-align: center;
    font-size: 2vw;
    letter-spacing: .15em;
    text-shadow: 0 0 15px var(--header-glow), 0 0 10px rgb(0, 0, 0);
    padding: 3vw 0;
    text-wrap: nowrap;
}

.index-sched-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    padding: 0 16vw;
}

.index-sched-container-1 img{
    max-width: 35%;
}

/* First sem table */

.table-sched {
    background: #3998ff;
    font-family: "Knockout Featherweight";
    border-collapse:collapse;
    border-spacing:0;
    font-size: 1.7vw;
    width: 100%
}

.table-sched td {
    padding: .5vw .7vw;
    word-break:normal;
}

.table-subject {
    color: white;
}

.table-teacher {
    text-align: right;
    color: #ff9f9f;
}

/* 2nd Sem sched */

.index-2nd-sem-sched {
    height: 24vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16vw;
}

.index-sched-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 3vw;
}

.blank-sched {
    max-width: 35%;
    width: 887px;
    background: white;
    border: 4px dashed #ff9f9f;
}

.index-sched-container-2 .table-subject,.index-sched-container-2 .table-teacher {
    color: #3998ff;
    display: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.index-sched-container-2 .table-sched {
    border: 4px dashed #fff;
}

@media (max-width: 970px) {
    /* .about-page:before {
        display: initial;
    } */
}

@media (max-width: 860px) {
    .tg {
        border: 1px solid black;
    }

    .tg .table-day {
        border-right: 1px solid #ff9f9f;
        border-top: 1px solid #3998ff;
    }
    
    .tg .table-items {
        border-left: 1px solid #ff9f9f;
        border-top: 1px solid #3998ff;
    }

    .index-section-2-cleaners:before {
        border-right: 2px solid #fff;
    }

    .blank-sched {
        border: 1px dashed #ff9f9f;
    }

    .index-sched-container-2 .table-sched {
        border: 1px dashed #fff;
    }
}