:root {
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --nav-bg-color: #b70000;
    --nav-color: #fff;
    --header-glow: #ff1414;
    --background-1: #044999;
    --background-2: #002f62;
}

@font-face {
    font-family: "Knockout Featherweight";
    src: url("/fonts/Knockout-HTF48-Featherweight.ttf");
}

@font-face {
    font-family: "Anton Regular";
    src: url("/fonts/Anton-Regular.ttf");
}

 .index-section-1, .index-section-2-header {
    font-family: "Anton Regular";
    color: #fff;
}

.index-section-1 {
    display: flex;
    background: var(--background-2);
    flex-direction: column;
}

.index-section-1-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vw;
    margin: 3vw 0;
}

.index-welcome-bigger-h2 {
    font-size: 5vw;
    text-shadow: 0 0 30px var(--header-glow),  0 0 10px rgb(208, 211, 255);
}

.index-welcome-smaller-h2 {
    font-size: 2vw;
    white-space: pre-line;
    width: 5vw;
    font-style: italic;
    text-shadow: 0 0 15px var(--header-glow), 0 0 10px rgb(97, 105, 217);   
}

.index-section-1-image-track img{
    max-width: 32%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.index-section-1-image-track {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2vw 3vw 2vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 1vw;
}

.index-section-2 {
    display: flex;
    flex-direction: row;
    padding: 2vw 0;
}

.index-section-2-announcements {
    height: 44vw;
    width: 50%;
    /* border-right: 5px solid #fff; */
}

.index-section-2-cleaners:before {
    align-self: center;
    content: "";
    position: absolute;
    left: 50%;
    height: 44vw;
    border-right: 5px solid #fff;
    z-index: 0;
}

.index-section-2-cleaners {
    height: 44vw;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.index-section-2-header {
    text-align: center;
    font-size: 1.5vw;
    font-style: italic;
    text-shadow: 0 0 15px var(--header-glow), 0 0 10px rgb(0, 0, 0);
    color: #fab1b1;
    letter-spacing: 0.1em;
}

.tg  {
    font-family: "Knockout Featherweight";
    font-size: 1.5vw;
    margin: 2vw;
    background: white;
    flex: 2;
    border-collapse:collapse;
    border-spacing:0;
}

.tg td {
    border: 3px solid black;
    padding: .75vw .25vw;
    word-break:normal;
}

.tg th {
    border: 3px solid black;
    font-weight:normal;
    padding: .75vw .25vw;
    text-align: left;
}

.tg .table-day {
    font-size: 2vw;
    text-align:center;
    color: var(--nav-bg-color);
}

.tg .table-of {
    vertical-align: top;
}

@media (max-width: 860px) {
    .tg td, .tg th {
        border: 1px solid black;
    }

    .index-section-2-cleaners:before {
        border-right: 2px solid #fff;
    }
}