@import url('https://fonts.googleapis.com/css2?family=Anton&family=Palanquin:wght@100;200;300;400;500;600;700&family=Signika:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css');

/* reference: https://www.youtube.com/watch?v=ThaIBFd387A */
/* https://www.youtube.com/watch?v=4oSZzAOpbOw */

@view-transition {
    navigation: auto;
}

:root {
    /* colors */
    --background-color: #001427;
    --alt-color: #0974ef;
    --nav-background: transparent;
    --nav-background-dark: transparent;
    --nav-background-darken: transparent;
    --off-white: #edf0f1;
}

* {
    font-family: "Signika", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}
/*  */


@keyframes blur-in {
    from {
        filter: blur(20px);
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1;
    }
  }

  @keyframes blur-out {
    from {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1;
    }
    to {
        filter: blur(20px);
        transform: scale(1.2);
        opacity: 0;
    }
}