:root {
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --nav-bg-color: #b44600;
    --nav-color: #ffcd00;
    --header-glow: #e25700;
    --background-1: #004323;
    --background-2: #146840;
}

.students-page:before, .contact-page:before {
    display: none;
}

@font-face {
    font-family: "Knockout Featherweight";
    src: url("/fonts/Knockout-HTF48-Featherweight.ttf");
}

@font-face {
    font-family: "Anton Regular";
    src: url("/fonts/Anton-Regular.ttf");
}